@media (max-width: 1080px) {
    .site-footer {
        display: none;
    }

    .logo-and-copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
  }