{% extends 'base1.html' %}
{% load static %}

{% block content %}


<html>
<head>
    <title>Confirmación de Compra</title>
    <!-- Agrega aquí tus enlaces a los archivos CSS y otros recursos necesarios -->
</head>
<body>
    <h1>Confirmación de Compra</h1>
    <p>¡Gracias por tu compra! La transacción se ha completado correctamente.</p>
    <p>¡Te contactaremos apenas este enviado!.</p>
    <!-- Agrega aquí cualquier información adicional que desees mostrar, como detalles de la compra, número de pedido, etc. -->
</body>
</html>

{% endblock %}